#game-screen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

::ng-deep .custom-ok-button{
    background-color: #F3AD09 !important;
    outline: none !important;
}

::ng-deep .flag{
    margin-left: auto;
    width: 25px;
    height: 15px;
    pointer-events: none;
    flex-shrink: 0;
}