<div id="navbar-container"  >
  
  <div mode="'over'"   opened="IsNavbarVisible"  id="navbar-sidenav">
  
    <div id="closeBtn" (click)="close()">
          <mat-icon  >close</mat-icon> 
    </div>

    <div id="logo-container">
      <img src="renard.png" id="logo" alt="logo">
      DGS
    </div>

    <div class="sidenav">
      <button class="navBtn" mat-primary id="play-button"  onmouseover="console.log('Hovered!')">
          <mat-icon>play_arrow</mat-icon>
          Jouer
      </button>
    </div>

    <div class="sidenav">
      <button class="navBtn">
          <mat-icon>replay</mat-icon>
          Replay
      </button>
    </div>


    <div class="sidenav">
      <button class="navBtn">
          <mat-icon>language</mat-icon>
          Social
      </button>
    </div>

    <div class="sidenav" *ngIf="this.TokenUser != ''">
      <button class="navBtn" id="profile-button">
          <mat-icon class="icon">person</mat-icon>
          Mon compte
        
      </button>
    </div>

    <div class="sidenav">
      <button  class="navBtn" id="state-button">
        <mat-icon>light_mode</mat-icon>
        <span id="state">Interface sombre</span>
      </button>
    </div >

    <div class="sidenav" id="register-container" *ngIf="this.TokenUser == ''">
        <button class="navBtn" id="register-button" >
          <mat-icon class="icon">person_add</mat-icon>
          Créer un compte
        </button>
    </div>

  <div class="sidenav" id="login-container" *ngIf="this.TokenUser == ''">
    <button class="navBtn centerBtn" id="login-button">
        <mat-icon class="icon" >login</mat-icon>
        Se connecter
    </button>
  </div>

  <div class="sidenav"  *ngIf="this.TokenUser != ''">
    <button class="navBtn " >
        <mat-icon>logout</mat-icon>
        Déconnexion
    </button>
  </div>

  

</div>
</div>
