mat-sidenav-container{
    width: 100%;
    height: 100%;
    color: black !important;
}

mat-sidenav{
    width: 100%;
    height: 100%;
    color: black !important;
}

mat-sidenav-content{
    height: auto;
    margin-top: 10px;
    overflow: hidden;
}

.navBtn{
    background-color: transparent;
    border: none;
    padding: 10px;
    gap: 10px;
    margin: auto;
    width: 90%;
    transition: background-color 0.1s ease;
    align-items: center;
    display: flex;
}

#logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: unset !important;
}
button:focus {
    outline: none;
    box-shadow: none;
}

#logo{
    width: 100px;
    height: 100px;
}

#logout-container{
    display: flex;
    height: auto;
    justify-content: flex-end;
    flex-direction: column;
    justify-self: flex-end;
}

#login-container{
    display: flex;
    height: auto;
    justify-content: flex-end;
    flex-direction: column;
    overflow: visible;
}

#register-container{
    margin-top: 50px;
    display: flex;
    height: auto;
    justify-content: flex-end;
    flex-direction: column;
    overflow: visible;
    margin-bottom: 20px;
}

#login-button{
    background-color: #FA7E5C;
    box-shadow: 0px 2px 0px rgba(129, 65, 58, 0.8);
}

#register-button{
    background-color: #E4AF5A;
    box-shadow: 0px 2px 0px rgba(108, 60, 17, 0.8);
}


#login-button,
#register-button {
    margin: auto;
    width: 90%;
    transition: background-color 0.1s ease;
    border-radius: 15px;
    align-items: center;
    text-align: center;
    justify-content: center; 
    gap: 10px; 
}

#login-button:hover,
#register-button:hover{
    transform: scale(1.01);
}

@media  (max-width: 800px) {
    
    mat-sidenav-container{
        width: 350px;
        height: 100%;
        color: black !important;
        transition: transform 0.5s ease-in-out;
    }

    #logo-container{
        display: none;
    }

    mat-sidenav.opened {
    transform: translateX(0);
    }   

    mat-sidenav-content{
        display: flex;
        padding: auto !important;
        margin: auto;
    }
    
    #close{
        font-size: 2em;
    }

    #closeBtn {
        padding-top: 10px;
        display: flex;
        margin-bottom: 20px;
        margin-left: 10px;
        font-size: 36px; 
        color: orange;
        background-color: transparent;
        border: none; 
    }

    .centerBtn{
        text-align: center;
    }

    .leftBtn{
        font-size: 120%;
    }

    .icon{
        padding-right: 0;
    }
    
}

@media (min-width: 799px)  {

    #closeBtn{
        display: none;
    }

}

  
  