<div class="main-container">
    <div class="top-section">
        <div class="image-presentation">
            <img src="goban_presentation.png" alt="Plateau de jeu de Go">
        </div>
        <div class="first-text">
            <h1>Jouez au jeu de GO sur la plateforme DGS! </h1>
            
            <a href="/register" class="register-button">
                <span class="button-container"><mat-icon>person_add</mat-icon><p>Créer un compte</p></span>
            </a>
         

            <a href="/login" class="login-button">
                <span class="button-container"><mat-icon>login</mat-icon> <p>Se connecter</p></span>
            </a>
        </div>   
    </div>
    <div class="presentation">

        <h2>Bienvenue sur la plateforme officielle de Dijon Go Server </h2>
        <p>
            Notre association a pour objectif de rassembler les passionnés de Go de tous niveaux, 
            qu'ils soient débutants ou joueurs expérimentés, autour d'une plateforme dédiée à ce jeu 
            stratégique millénaire. Basée à Dijon, nous organisons des tournois en ligne, des événements 
            locaux et des matchs au siège de l'ETIQ situé 7 boulevard Dr Petitjean. <br> 
        </p>
        <p>
            Sur Dijon Go Server, vous pouvez défier vos amis, rencontrer de nouveaux adversaires et progresser.
            Que vous soyez un joueur occasionnel ou un compétiteur acharné, notre plateforme est conçue pour vous offrir
            le meilleur du jeu de Go en ligne. <br><br>Explorez, jouez et progressez avec nous !
        </p>
        <div class="citation">
            <img src="emmanuel.jpeg" alt="photo de Emmanuel Lasker">
            <div class="citation-content">
                <p class="citation-text">« Les règles du go sont si élégantes, organiques et rigoureusement logiques que s’il existe quelque part dans l’univers une forme de vie intelligente, elle doit certainement y jouer. » </p><br>
                <p class="citation-author">Emmanuel Lasker, champion du monde d'échecs et joueur de Go.</p> 
            </div>
            
        </div>
        
    </div>
 
</div>
