<div class="main-container">
    <app-popup [show]="ShowPopup"  [title]="PopupTitle" (onClose)="handlePopupClose()">
        <div class="game-choice" [innerHTML]="PopupContent">   
                     
        </div>
    </app-popup>
    <div class="player-info">
        <img class="avatar" src="{{ Avatar }}" alt="photo de profil">
        <p class="pseudo">{{ UserPseudo }}</p>
    </div>
    <div class="top-section">
        <div class="rank">
            <img class="trophy-pic" src="trophy.png" alt="Trophy">
            <div class="rank-text">
                <p class="rank-label">Rang</p>
                <p class="rank-value">{{UserRank}}</p>
                <p class="elo-value">{{Elo}} elo</p>
            </div>
        </div>                
        <a class="last-game" href="">
            <h2>Replay de partie</h2>
            <p class="replay-last"><i class="fas fa-redo"></i>  Revoyez votre dernière partie</p>
        </a>
    </div>
    <div class="game-options">
        <a href="">
            <img src="matchmaking.png" alt="Matchmaking">
            Matchmaking en ligne
        </a>
        <a id="create-game">
            <img src="create.png" alt="Créer une partie">
            Créer une partie personnalisée
        </a>
        <a id="joinGames">
            <img src="join.png" alt="Rejoindre une partie">
            Rejoindre une partie personnalisée
        </a>
    </div>
    
<div class="bottom-section">
    <div class="leaderboard-section">
        <h2>Leaderboard</h2>
        <div class="leaderboard">
            <!-- Leaderboard entries go here -->
        </div>
    </div>

    <div class="invitations-section">
        <h2>Vos invitations à jouer (1)</h2>
        <div class="invitation-card">
            <div class="invitation-info">
                <p>Louis vous a invité à jouer.</p>
            </div>
            <div class="invitation-actions">
                <a class="accept-btn"><mat-icon>check</mat-icon> Accepter</a>
                <a class="decline-btn"><mat-icon>close</mat-icon> Refuser</a>
            </div>
        </div>
    </div>
</div>