<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<img src="renard.png" id="renardRegister" alt="Logo" class="logo">
<div class="register-container">

    
    <form class="formStyle" [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
      <label id="Inscription">Inscription</label>
  
      <div class="form-group">        
        <label for="pseudo">Pseudo</label>
        <input class="form-control" type="text" id="pseudo" formControlName="pseudo" required="true" tabindex="0"> 
      </div>
  
      <div class="form-group">
        <label for="email">Adresse email</label>
        <input class="form-control" type="email" id="email" formControlName="email" tabindex="0"> 
      </div>
    
      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input class="form-control" type="password" id="password" formControlName="password" tabindex="0">
         <!--s'affiche quand le pwd n'est pas sécurisé -->
        <div *ngIf="(!IsStrongPassword)" class="text-danger">
          Le mot de passe doit contenir 8 caractères avec au moins 1 majuscule, 1 minuscule et 1 chiffre
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirmez le mot de passe</label>
        <input class="form-control" type="password" id="confirmPassword" formControlName="confirmPassword" tabindex="0">
        <!--s'affiche quand le pwd n'est pas le meme que sa confirmation' -->
        <div *ngIf="(!ConfirmPwdIsGood)" class="text-danger">
          Les mots de passe ne correspondent pas.
        </div>
      </div>
      
      
      <div class="form-group">
        <label for="avatar">Avatar</label>
        <div class="input-group focus">
          <app-upload-image  (imageSelected)="onImageSelected($event)" ></app-upload-image>        
        </div>

      </div>
      
    
      <div class="focus">
        <button class="button-rgt" type="submit" tabindex="0">S'inscrire</button>
      </div>
      
    </form>
  </div>
  