.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFEBE4;
    font-family: ArialArial_rounded_mt2;
    font-weight: bold;
  }
  
  .logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 100px;
  }
  
  .form-group {
    margin-bottom: 15px;
    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-family: ArialArial_rounded_mt2;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #FA7E5C ;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: ArialArial_rounded_mt2;
    font-weight: bold;
  }
  
  #Inscription{
    text-align: center;
  
  }
  
  button:disabled {
    background-color: #FFEBE4;
    color: black;
  }

@font-face {
  font-family: Arial_rounded_mt;
  src: url(../../../font/arial-rounded-mt.ttf);
}
  