<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container mt-5">
    <div class="card card-pos">
        <div class="row g-0">   
            <div class="col-md-4">
                <img src="{{ Avatar }}" id="profile-img" class="img-fluid rounded-start" alt="Profile Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title">
                        <h5>{{ UserPseudo }}</h5>
                        <button mat-mini-fab color="primary" id="params" aria-label="Settings" (click)="openDialog()" tabindex="0">
                            <mat-icon>edit_square</mat-icon>
                        </button>
                    </div>
                    <p class="card-text">{{UserEmail}}</p>
                    <br>
                    <div class="d-flex flex-column align-items-start">
                        <div class="d-flex align-items-center">
                            <p class="card-rank"><strong>{{Rank}}</strong></p>
                            <img class="trophy-pic ms-1" src="trophy.png" alt="Trophy" id="trophy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<h2 class="historique-title">Historique</h2>
<div class="history-container">
  <app-history></app-history>
</div>


<div class="player-list-container">
  <app-player-list></app-player-list>
</div>