<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container mt-5">
    <div class="card card-pos">
        <div class="row g-0">   
            <div class="col-md-4">
                <img src="{{ Avatar }}" id="profile-img" class="img-fluid rounded-start" alt="Profile Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title">
                        <h5>{{ UserPseudo }}</h5>
                        <button mat-mini-fab color="primary" id="params" aria-label="Settings" (click)="openDialog()" tabindex="0">
                            <mat-icon>edit_square</mat-icon>
                        </button>
                    </div>
                    <p class="card-text">{{UserEmail}}</p>
                    <br>
                    <div class="d-flex flex-column align-items-start">
                        <div class="d-flex align-items-center">
                            <p class="card-rank"><strong>{{Rank}}</strong></p>
                            <img class="trophy-pic ms-1" src="trophy.png" alt="Trophy" id="trophy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div *ngIf="getHistoryData().length > 0; else noHistory" class="history-container">
  <h2 class="historique-title">Historique</h2>
  <div *ngFor="let game of getHistoryData(); let i = index" class="history-item">
    
    <div
      class="game-line"
      [ngStyle]="{ 'border-color': game.Won() ? '#96CEB4' : '#FF8080' }"
      tabindex="0"
    >
      <div class="date-rule-information">
        <div class="replay-container">
          <!-- Icône Replay -->
          <button class="replay-button" (click)="replayGame(game)">
            <mat-icon class="replay-icon">replay</mat-icon>
          </button>
          <div class="replay-text">
            Revoir
          </div>
        </div>
        <!-- Date de la partie -->
        <strong id="date">{{ game.Date() | date: 'dd/MM/yyyy HH:mm' }}</strong>

        <!-- Règles de la partie -->
        <span *ngIf="game.Rule() === 'c'">
          <img class="flag" src="china.svg" alt="Drapeau de la Chine" />
        </span>
        <span *ngIf="game.Rule() === 'j'">
          <img class="flag" src="japan.svg" alt="Drapeau du Japon" />
        </span>

        
        <!-- Taille de la grille -->
      <span id="sizeMobile">{{ game.Size() }}x{{ game.Size() }}</span>
      </div>

      <!-- Taille de la grille -->
      <span id="sizeOrdi">{{ game.Size() }}x{{ game.Size() }}</span>


      <div class="game-result">
        <span class="left-player-info player-info">
          <div class="stone-container">
            <mat-icon
            class="stone"
            [ngClass]="{
              white: game.UsernamePlayer2() === UserPseudo,
              black: game.UsernamePlayer1() === UserPseudo
            }"
          >
            brightness_1
          </mat-icon>
          </div>
          <div class="username-container">
            {{ UserPseudo }}
            <img
            *ngIf="game.Won()"
            class="crown"
            src="crown.svg"
            alt="Couronne"
          />
          </div>
  
        </span>
  
        <!-- Scores -->
        <span class="score-container">
          <span *ngIf="game.UsernamePlayer1() === UserPseudo" class="left-player">
            {{ game.ScorePlayer1() }}
          </span>
          <span *ngIf="game.UsernamePlayer2() === UserPseudo" class="left-player">
            {{ game.ScorePlayer2() }}
          </span>
          -
          <span *ngIf="game.UsernamePlayer1() !== UserPseudo" class="right-player">
            {{ game.ScorePlayer1() }}
          </span>
          <span *ngIf="game.UsernamePlayer2() !== UserPseudo" class="right-player">
            {{ game.ScorePlayer2() }}
          </span>
        </span>
  
        <!-- Joueur droite (toujours adversaire) -->
        <span class="right-player-info player-info">
          <div class="stone-container">
              <mat-icon
              class="stone"
              [ngClass]="{
                white: game.UsernamePlayer2() !== UserPseudo,
                black: game.UsernamePlayer1() !== UserPseudo
              }"
            >
              brightness_1
            </mat-icon>
          </div>
          <div class="username-container">
            {{ game.UsernamePlayer1() === UserPseudo ? game.UsernamePlayer2() : game.UsernamePlayer1() }}
            <img
              *ngIf="game.Won() === false"
              class="crown"
              src="crown.svg"
              alt="Couronne"
            />
          </div>
        </span>
      </div>
    </div>
  </div>
</div>

<ng-template #noHistory>
  <p>Aucune partie trouvée</p>
</ng-template>


  
  