<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container mt-5">
    <div class="card card-pos">
        <div class="row g-0">   
            <div class="col-md-4">
                <img src="{{ Avatar }}" id="profile-img" class="img-fluid rounded-start" alt="Profile Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title">
                        <h5>{{ UserPseudo }}</h5>
                        <button mat-mini-fab color="primary" id="params" aria-label="Settings" (click)="openDialog()" tabindex="0">
                            <mat-icon>settings</mat-icon>
                        </button>
                    </div>
                    <p class="card-text">{{UserEmail}}</p>
                    <br>
                    <div class="d-flex flex-column align-items-start">
                        <div class="d-flex align-items-center">
                            <p class="card-rank"><strong>{{Rank}}</strong></p>
                            <img class="trophy-pic ms-1" src="trophy.png" alt="Trophy" id="trophy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>

<div *ngIf="getHistoryData().length > 0; else noHistory" class="history-container">
  <div *ngFor="let game of getHistoryData(); let i = index" class="history-item">
    <div
      class="game-line"
      [ngStyle]="{ 'border-color': game.winner === UserPseudo ? '#96CEB4' : '#FF8080' }"
      tabindex="0"
    >
    <strong>Date : {{ game.date }}</strong>
      <span *ngIf="game.rule === 'chinoise'">
        <img class="flag" src="china.svg" alt="Drapeau de la Chine" />
      </span>
      <span *ngIf="game.rule === 'japonaise'">
        <img class="flag" src="japan.svg" alt="Drapeau du Japon" />
      </span>
      
      <span>{{ game.size}}</span>
      <span>
        <mat-icon
          class="stone"
          [ngClass]="{ white: game.white === UserPseudo, black: game.black === UserPseudo }"
        >
          brightness_1
        </mat-icon>
        {{ UserPseudo }}
        
        <img *ngIf="game.winner === UserPseudo" class="crown" src="crown.svg" alt=" couronne">
      </span>
        <span>
          <span class="points" class="espaceDroit" *ngIf="game.white === UserPseudo"> {{ game.capturedWhite }}</span>
          <span class="points" class="espaceDroit" *ngIf="game.black === UserPseudo"> {{ game.capturedBlack }}</span>
          VS
          <span class="points" class="espaceGauche" *ngIf="game.white === game.player2"> {{ game.capturedWhite }}</span>
          <span class="points" class="espaceGauche" *ngIf="game.black === game.player2"> {{ game.capturedBlack }}</span>
        </span>
      <span>
        <mat-icon
          class="stone"
          [ngClass]="{ white: game.white === game.player2, black: game.black === game.player2 }"
        >
          brightness_1
        </mat-icon>
        {{ game.player2 }}
        <img *ngIf="game.winner === game.player2" class="crown" src="crown.svg" alt=" couronne">
      </span>
    </div>
    <hr />
  </div>
  
  </div>
  
  <ng-template #noHistory>
    <p>Aucun historique de parties trouvé.</p>
  </ng-template>
  
  