<div id="rule-container">
  <div id="rule-text">Règles </div>
  <button id="rule-icon" class="rule-button">
    <mat-icon>help</mat-icon>
  </button>
</div>
<div id="global-container">
    <div id="opponent">
      <div id="opponent-pseudo" class="pseudo">
        <img id="opponent-pic" src="https://localhost:7065/profile-pics/default" alt="opponnent avatar" />
        <span id="pseudo-text">En attente de l'adversaire...</span>
        <span id="opponent-score" class="score"><span id="opponent-score-value"></span></span>
      </div>
      <div class="timer" id="opponent-timer">60:00</div>
    </div>
    <div id="grid-container">
      <div id="grid">
        <div id="cells-container">
          <div
            class="row"
            *ngFor="let e of [].constructor(this.getSize()); let i = index"
          >
            <div
              class="cell"
              *ngFor="let f of [].constructor(this.getSize()); let j = index"
            >
              <div class="stone" [id]="i + '-' + j" tabindex="0"></div>
              <div
                class="stone right"
                *ngIf="j == this.getSize() - 1"
                [id]="i + '-' + (j + 1)"
              ></div>
            </div>
          </div>
          <div class="row-bottom">
            <div
              class="cell"
              *ngFor="let g of [].constructor(this.getSize()); let k = index"
            >
              <div class="stone bottom" [id]="this.getSize() + '-' + k"></div>
              <div
                class="stone bottom right"
                *ngIf="k == this.getSize() - 1"
                [id]="this.getSize() + '-' + (k + 1)"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="player">
      <div class="pseudo">
        <img id="player-pic" src="" alt="player avatar" />
        <span id="player-pseudo-text"></span>
        <span id="player-score" class="score"><span id="player-score-value"></span></span>
      </div>
  
      <div id="pass">
        <mat-icon id="pass-icon">block</mat-icon>
        Passer
      </div>
  
      <div class="timer" id="player-timer">60:00</div>
    </div>
</div>
<div class="player-list-container">
  <app-player-list></app-player-list>
</div>

