<table>
    <tr *ngFor="let e of [].constructor(9); let i = index">
        <td class="" *ngFor="let f of [].constructor(9); let j = index" [id]="'l'+i+'c'+j">
            <div class="container main"><div class="pawn main"></div></div>
            <div *ngIf="i==0" class="container up"><div class="pawn up" ></div></div>
            <div *ngIf="j==0" class="container left"><div class="pawn left" ></div></div>
            <div *ngIf="i==0 && j==0" class="container upleft"><div class="pawn upleft" ></div></div>
        </td>
    </tr>
</table>