#grid-container{
    padding: 20px;
    background-color: rgb(207, 156, 89);
    position: relative;
}




#player, #opponent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    position: absolute;
    left: 0;
    right: 0;
}

#player{
    bottom: -60px;
}

#opponent{
    top: -60px;
}


.pseudo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pseudo img{
    width: 50px;
    margin-right: 5px;
}

.timer{
    padding : 10px 15px
}

#player .timer{
    border: 1px solid black
}

#opponent .timer{
    border: 1px solid black
}

#pass{
    margin-left: auto;
    margin-right: 15px;
}

#cells-container{
    position: relative;
    border: 0.5px solid black;
}

.cell{
    width: 30px;
    height: 30px;
    border: 0.5px solid black;
    position: relative;
}
.row{
    display: flex;
    flex-direction: row;
    position: relative;
    
}

.stone{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: -50%;
    top: -50%;
    z-index: 3;
}

.stone.right{
    left: unset;
    right: -50%;
}

.row-bottom{
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    right: 0;
    left: 0;
}

.cell-bottom{
    position: relative;
    width: 32px;
    height: 32px;
}

.bottom{
    top: unset;
    bottom: -50%;
}



.stone:hover{
    background-color: grey !important;
    opacity: 0.8 !important;
}


